   * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.navigation {
    background-color: white;
    box-shadow: 0 0 5px rgba(64, 64, 64, 0.76);
    display: flex;
    justify-content: space-between;  
    padding: 8px 16px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}


.logo {
    font-size: 20px;
    font-weight: bold;
    padding: 8px 16px;
    cursor: pointer;
}


.listNavigation {
    display: flex;
    gap: 18px;  
    align-items: end;  
}

/* Links styling */
.navigation a {
    text-decoration: none;
    color: black;
    letter-spacing: 4px;
    padding: 8px 16px;
}

.listNavigation a:hover,
.logo:hover {
    background-color: #d4d4d4;
}

.HeroSection {
    background-image: url('image/architect.jpg');
    box-shadow: 0 0 5px rgba(64, 64, 64, 0.76);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    max-width: 1500px;
}

.HeroSection-Text {
    display: flex;
    gap: 10px;
}

span {
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: black;
    opacity: 0.7;
    padding: 10px 20px;
    letter-spacing: 2px;
}
.HeroSection p {
    font-size: 40px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin: 0;
    padding: 8px;
    letter-spacing: 4px;
}

.Projects {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
}

.Projects-Text{
    border-bottom: 1px solid black;
    margin-top: 40px;
    margin-bottom: 40px;
}

.Projects-Text {
    font-size: 28px;
    font-weight: 200;
    padding-bottom: 40px;
}

.Projects-Images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.project-card {
    position: relative;
}

.project-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.project-card p {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: black;
    color: white;
    padding: 10px 18px;
    font-size: 20px;
    font-weight: 200;
}
    



    

